Source: deer-service
Section: unknown
Priority: optional
Maintainer: Alejandra Garcia-Rojas M <alejandra.garciarojas@ontos.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/GeoKnow/DEER-Service
Vcs-Git: https://github.com/GeoKnow/DEER-Service.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/deer-service.git;a=summary

Package: deer-service
Architecture: all
Depends: tomcat7-common,tomcat7,${misc:Depends}
Description: A REST service for DEER 
 DEER is a RDF Data Extraction and Enrichment Framework
 This package is a implementation of DEER for providing a REST-based service 
